@font-face {	font-family: 'DK';	
				src: url('DKCanoodle.otf') 	
				format('opentype');
			}

.workarround
{
    font-family: 'DK';
    position: absolute;
   
}

canvas{
	margin: auto;
	border: 5px solid gray;
	border-radius: 10px;
}

html{
	background-color: black;
}
